/*==========================================================*/
/*Different Font Families*/
/*==========================================================*/
@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('../fonts/webfonts/35B3E1_0_0.eot');
    src: url('../fonts/webfonts/35B3E1_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/35B3E1_0_0.woff2') format('woff2'),
         url('../fonts/webfonts/35B3E1_0_0.woff') format('woff'),
         url('../fonts/webfonts/35B3E1_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro-Regular';
    src: url('../fonts/webfonts/35B3E1_1_0.eot');
    src: url('../fonts/webfonts/35B3E1_1_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/35B3E1_1_0.woff2') format('woff2'),
         url('../fonts/webfonts/35B3E1_1_0.woff') format('woff'),
         url('../fonts/webfonts/35B3E1_1_0.ttf') format('truetype');
}

.DINNextLTPro-Bold { font-family: DINNextLTPro-Bold; }
.DINNextLTPro-Regular { font-family: DINNextLTPro-Regular; }
    
/* ::-moz-selection { 
    background: #fcf8e3;
}

::selection {
    background: #fcf8e3;
}

::-webkit-selection {
    background: #fcf8e3;
} */
/*=============================================================================*/
/*==================================Common Css ================================*/
/*=============================================================================*/
/*==============================================================*/
/*Top Space with Margin*/
/*==============================================================*/
.space0 {
    margin-top: 0px !important;
    margin-bottom: 0 !important
}

.space2 {
    margin-top: 2px !important;
}

.space5 {
    margin-top: 5px !important;
}

.space10 {
    margin-top: 10px !important;
}

.space24 {
    margin-top: 24px !important;
}

.space15 {
    margin-top: 15px !important;
}

.space20 {
    margin-top: 20px !important;
}

.space25 {
    margin-top: 25px !important;
}

.space30 {
    margin-top: 30px !important;
}

.space35 {
    margin-top: 35px !important;
}

.space40 {
    margin-top: 40px !important;
}

.space50 {
    margin-top: 50px !important;
}

.space60 {
    margin-top: 60px !important;
}

.space70 {
    margin-top: 70px !important;
}

.space80 {
    margin-top: 80px !important;
}

.space90 {
    margin-top: 90px !important;
}

.space100 {
    margin-top: 100px !important;
}

.space110 {
    margin-top: 110px !important;
}

.space-5 {
    margin-top: -5px !important;
}

/*===================================================================*/
/*Font-size and weight*/
/*===================================================================*/
.fsize10 {
    font-size: 10px !important;
}

.fsize12 {
    font-size: 12px !important;
}

.fsize14 {
    font-size: 14px !important;
}

.fsize16 {
    font-size: 16px !important;
}

.fsize18 {
    font-size: 18px !important;
}

.fsize20 {
    font-size: 20px !important;
}

.fsize22 {
    font-size: 22px !important;
}

.fsize24 {
    font-size: 24px !important;
}

.fsize26 {
    font-size: 26px !important;
}

.fsize28 {
    font-size: 28px !important;
}

.fsize30 {
    font-size: 30px !important;
}

.fsize32 {
    font-size: 32px !important;
}

.fsize34 {
    font-size: 34px !important;
}

.fsize36 {
    font-size: 36px !important;
}

.fsize38 {
    font-size: 38px !important;
}

.fsize40 {
    font-size: 40px !important;
}

.fsize42 {
    font-size: 42px !important;
}

.fsize44 {
    font-size: 44px !important;
}

.fsize46 {
    font-size: 46px !important;
}

.fsize48 {
    font-size: 48px !important;
}

.fsize50 {
    font-size: 50px !important;
}

.f100 {
    font-weight: 100;
}

.f200 {
    font-weight: 200;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.f700 {
    font-weight: 700;
}

.f900 {
    font-weight: 900;
}

.text-3071ae {
    color: #3071ae
}

.text-002d40 {
    color: #002d40
}

.text-1aa6b7 {
    color: #1aa6b7
}

.text-d9ecf2 {
    color: #d9ecf2
}

/*=====================================================================*/
/*Width*/
/*=====================================================================*/
.wid30 {
    width: 30%;
}

.wid40 {
    width: 40%;
}

.wid50 {
    width: 50%;
}

.wid60 {
    width: 60%;
}

.wid70 {
    width: 70%;
}

.wid80 {
    width: 80%;
}

.wid90 {
    width: 90%;
}

.wid100 {
    width: 100%;
}

/*===================Change a style of placeholder====================*/
::-webkit-input-placeholder {
}

::-moz-placeholder {
}

/* firefox 19+ */
:-ms-input-placeholder {
}

input:-moz-placeholder {
}

.anti-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*============================================================*/
/*============================================================*/
/*=====================Common Css Ends Here===================*/
/*============================================================*/
/*===========================================================*/
/*Css on HTML Tags*/
/*============================================================*/
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    letter-spacing: 0.75px;
    height: 100%;
    color: #666;
}

p, ul, ol {
    margin-bottom: 0px;
}

a {
    color: #3071ae;
    text-decoration: none;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

a:hover, a:focus, a:active {
    color: #3071ae;
    text-decoration: none;
}

label {
    font-weight: inherit;
}

.btn:focus, .btn:active, a:focus, a:active {
    outline: 0;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

/* Navigation Starts */

.display_table {
    display: table;
    width: 100%;
    height: 100%;
}

.display_cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.btn-default {
    background-color: #000;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 16px;
    line-height: 1;
}

.btn-default.btn-lg {
    padding: 14px 25px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 0;
}

* {
    border-radius: 0;
    -webkit-border-radius: 0;
    outline: 0;
    -webkit-outline: 0;
}

.navbar {
    border-radius: 0;
    min-height: 110px;
    border: 0;
    background: #fff;
    margin-bottom: 0;
}

.navbar-brand {
    height: auto;
}

.navbar-brand > img {
    width: 80px;
}

.mid-nav, .navbar-form {
    margin-top: 30px;
}

.navbar-form {
    margin-top: 35px;
}

.mid-nav {
    margin-left: 40px;
}

.navbar-form .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    background: transparent;
    height: 40px;
    min-height: unset;
    padding: 6px 10px 6px 15px;
    min-width: 250px;
    padding-left: 0;
}

.navbar-form .btn-default {
    background: #252525;
    color: #fff;
    padding: 6px 0;
    border-radius: 50%;
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.navbar-form .btn-default .ion-icons {
    font-size: 18px;
}

.navbar-nav>li>a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    color: #252525;
    letter-spacing: 1.2px;
}

.topbar {
    background: #252525;
    color: #fff;
}

.ion-icons {
    vertical-align: middle;
}

.top_contact > li > a {
    color: #fff;
    font-size: 12px;
    line-height: 1;
    padding: 0px 15px;
    display: block;
    border-left: 1px solid #404040;
}

.top_contact > li:first-child > a {
    border-left: 0;
}

.top_contact > li > a > .ion-icons {
    font-size: 16px;
    margin-right: 5px;
    line-height: 1;
}

.top_contact > li {
    padding: 15px 0;
    vertical-align: middle;
}

.top_contact {
    padding: 0;
    margin-left: -20px;
}

.mincart {
    background: transparent;
    width: auto;
    padding-right: 20px;
    vertical-align: middle;
    margin-left: auto;
}

.topminicart {
}

.mincartTop {
    position: absolute;
    right: -5px;
    top: 6px;
    font-size: 12px;
}

.top_cart {
    text-align: right;
    padding: 0;
}

.top_cart .ion-ios-cart-outline {
    font-size: 21px;
    line-height: 1;
}

.top_cart a.ectlink.mincart {
    color: #fff;
    padding: 0px;
    display: inline-block;
    vertical-align: text-top;
    line-height: 1;
}

.top_cart li.topminicart {
    width: 150px;
    display: inline-block;
    padding: 12px 15px;
    position: relative;
}

.top_cart > li > a {
    color: #fff;
    font-size: 20px;
}

.top_cart li {
    vertical-align: middle;
    padding: 0 15px;
}

/* Navigation Ends */

/* Home Main Categories sec */

.home-categories-sec {
    padding: 70px 0 100px;
}

.home-cate-box {
    position: relative;
}

.home-cate-box h3 {
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin: 0;
    color: #fff;
    text-shadow: 0px 1px 8px #000;
}

.title {
    color: #252525;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
}

.home-who-we {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.1;
    padding: 70px 0 100px;
    background: #eee;
    color: #000;
    text-align: center;
}

.home-who-we p:not(:last-child) {
    margin-bottom: 20px;
}

.home-who-we .btn-default {
    margin-top: 20px;
}

.title_text {
    color: #ccc;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.home-creatives {
    padding: 70px 0;
}

.newsletter-sec {
    background: #eee;
    padding: 50px 0;
}

.newsletter-sec .form-control {
    float: left;
    width: calc(100% - 200px);
    margin-right: 20px;
    border-radius: 0;
    min-height: 48px;
    border-color: #ddd;
}

.newsletter-sec .btn-default {
    width: 180px;
    float: left;
}

.newsletter-sec .title {
    margin-top: 7px;
    margin-bottom: 0;
}

footer {
    background: #1a1a1a;
    color: #fff;
    padding: 100px 0;
    padding-bottom: 0
}

.footer_title {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.footer_menu > li > a {
    padding: 4px 0;
    display: inline-block;
    font-size: 14px;
    color: #7d7d7d;
}

.footer_contact > li > a {
    padding: 5px 0;
    display: inline-block;
    font-size: 14px;
    color: #8a8989;
    margin-bottom: 5px;
}


.footer_contact > li > a .ion-icons {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    font-size: 19px;
    vertical-align: middle;
    padding: 1px 0;
}

.copyright {
    margin-top: 100px;
    background: #000;
    color: #999;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.footer_social li a {
    display: block;
    color: #fff;
    width: 35px;
    height: 35px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    padding: 6px 0;
}

.footer_social li {
    padding: 0 2px;
}

.footer_social {
    margin-top: 30px;
}

/* Responsive Starts */
@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 500px) {
}

@media (max-width: 375px) {
}

/* Responsive Ends */
